
.todocontainer {
    display: grid;
    grid-template-columns: 1fr 6fr repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-left: 4px solid;
    padding: 5px 2px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px 2px gray;
    background-color: #f7f4f4;
}
.todocontainer > *:not(.description) {
    white-space: nowrap;
    text-align: center;
}

.todocontainer .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.todocontainer .title:hover {
    overflow: visible;
}

.todocontainer.done {
    opacity: 0.3;
    cursor: not-allowed;
}

.todocontainer .title,
.todocontainer .date {
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
    padding-right: 3px;
    height: 100%;
}

.todocontainer .more,
.todocontainer .edit {
    text-decoration: underline;
    text-decoration-color: gray;
    cursor: pointer;
}



